name: Package and Release repository zip

on:
  push:
    branches:
      - main
      - 'release/**'
  workflow_dispatch:
    inputs:
      version:
        description: 'Version number for the release (e.g., 1.0.0)'
        required: true
        default: '1.0.0'
      tag-name:
        description: 'Tag name for the release (e.g., v1.0.0)'
        required: true
        default: 'v1.0.0'

permissions:
  contents: write
  

jobs:
  package-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Create zip archive
        run: |
          VERSION=${{ github.event.inputs.version }}
          ZIP_NAME="repository-${VERSION}.zip"
          git archive -o $ZIP_NAME HEAD
          echo "ZIP_NAME=$ZIP_NAME" >> $GITHUB_ENV
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag_name: ${{ github.event.inputs['tag-name'] }}
          release_name: Release ${{ github.event.inputs.version }}
          draft: false
          prerelease: false
      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
            upload_url: ${{ steps.create_release.outputs.upload_url }}
            asset_path: ${{ env.ZIP_NAME }}
            asset_name: ${{ env.ZIP_NAME }}
            asset_content_type: application/zip
        
